header {
  grid-area: header;
  width: 100%;
  height: 5rem;
  background-color: #da64c1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
}
.add_transaction {
  max-width: 330px;
  margin-top: 80px;
}
label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
form {
  grid-area: form;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.btn {
  cursor: pointer;
  background-color: #da64c1;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.inc-exp-container {
  max-width: 200px;

  grid-area: inc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #da64c1;
  color: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  margin-top: -480px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-bottom: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.incExp {
  margin: 0 20px;
}
.money.plus {
  color: white;
  font-weight: bold;
}
.money.minus {
  color: white;
  font-weight: bold;
}

.transactionList {
  max-width: 430px;
  margin-top: -150px;
}
.table_container {
  position: relative;
  border-spacing: 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.tbBody {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -20px;
}
.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

.table .minus {
  background-color: #f8d7da;
}

.table .plus {
  background-color: #d4edda;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e60000;
}

table thead,
table th {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1;
}
